{% load static %}

!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Student Attendance System</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<nav class="navbar navbar-dark navbar-expand-sm bg-dark fixed-top">
		<div class="container">
			<a href="/" class="navbar-brand"><i class="fas fa-people"></i>Smart Attendance System</a>
        <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="login" class="nav-link active">Login</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    <div class="container" style="height: 45px"></div>
    <style>
        #myCenterBlock {
            border-radius: 10px;
            padding: 100px;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://source.unsplash.com/1920x800/?students);
        }

        #mainHeading h1 {
            text-transform: uppercase;
            font-family: 'Montserrat', serif;
            color: white;
        }

        #mainHeading h1 span {
            color: red;
        }

        #mainHeading h3 {
            text-transform: uppercase;
            color: white;
            font-family: 'Oswald', sans-serif;
            margin-bottom: 15px;
        }
    </style>
    <section id="myCenterBlock" class="container-fluid">
        <div class="container" style="">
            <div class="container-fluid" id="mainHeading">
                <center>
                    <h1><span>Smart </span>attendance system</h1>
                    <h3>Let's live in a smart world</h3>
                    <button type="button" class="btn btn-outline-light" onclick="window.location.href = 'login'">Login</button>
                </center>
            </div>
        </div>
    </section>
    <section>
        <style>
            .photogGrid {
                height: 250px;
                border-radius: 8px;
                padding: 2px;
            }

            .per100 {
                height: 100%;
                border-radius: 10px;
            }
        </style>
        <div class="container-fluid" style="padding-left: 45px; padding-right: 45px;">
            <div class="row">
                <div class="col-lg-3 col-md-6 photogGrid">
                    <div class="per100" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(https://source.unsplash.com/500x250/?lecture);"></div>
                </div>
                <div class="col-lg-5 col-md-6 photogGrid">
                    <div class="per100" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(https://source.unsplash.com/900x250/?company);"></div>
                </div>
                <div class="col-lg-4 col-md-12 photogGrid">
                    <div class="per100" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(https://source.unsplash.com/900x250/?industry);"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-6 photogGrid">
                    <div class="per100" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(https://source.unsplash.com/900x250/?class);"></div>
                </div>
                <div class="col-lg-4 col-md-6 photogGrid">
                    <div class="per100" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://source.unsplash.com/500x250/?room);"></div>
                </div>
                <div class="col-lg-6 col-md-12 photogGrid">
                    <div class="per100" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://source.unsplash.com/900x250/?teacher);"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-6 photogGrid">
                    <div class="per100" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(https://source.unsplash.com/1200x250/?powerpoint);"></div>
                </div>
                <div class="col-lg-5 col-md-6 photogGrid">
                    <div class="per100" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://source.unsplash.com/900x250/?study);"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
            <p><u>Aryan Sahu</u></p>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
            <p><u>Nandini Jhanwar</u></p>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
            <p><u>Pratham Goel</u></p>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
            <p><u>Shreaysi Gour</u></p>
        </h6>
      </div>
      <!-- Grid column -->


    </div>
        </div>

</footer>
<!-- Footer -->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"> </script>
    <script src="script.js"></script>
  </body>
</html>